<div class="container container-width"></div>
<div class="wrapper clearfix">
    <div class="topBar bg-secondary">
        <div class="container">
            <div class="row">
                <div class="col"><a href="#"><i class="bi bi-telephone"></i> 97111 28126</a>   <a href="#" class="ms-3"><i class="bi bi-envelope"></i> info@umrahtravels.com</a></div>
                <div class="col-auto">
                    <ul class="list-unstyled d-flex">
                        <li><a href=""><i class="bi bi-shield-lock"></i> Login</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <header class="header-main"> 
        <div class="container">
            <div class="row align-items-center">
                <div class="col pe-xxl-5">
                    <a routerLink="/home" class="logo text-primary">
                        <img src="assets/images/logo.png" alt="Umrah"  title="Umrah" class="img-fluid">
                    </a>
                </div>
                <div class="col-auto">
                    <a id="b1" href="javascript:void(0)" class="hm float-end d-xl-none">
                        <svg id="i1" class="hamburger" viewBox="0 0 100 100">
                            <path class="top-line-1" d="M30,37 L70,37"></path>
                            <path class="middle-line-1" d="M30,50 L70,50"></path>
                            <path class="bottom-line-1" d="M30,63 L70,63"></path>
                        </svg>
                    </a>
                    <nav class="main-nav d-flex justify-content-xl-end">
                        <ul class="nav list-unstyled m-0 justify-content-end align-items-center">
                            <li><a href="javascript:void(0)" routerLink="/home">Home</a></li>
                            <li><a href="javascript:void(0)" routerLink="/umrah">Umrah Package</a></li>
                            <li><a href="javascript:void(0)" routerLink="/baghdad-umrah">Baghdad Umrah</a></li>
                            <li><a href="javascript:void(0)" routerLink="/popular-deals">Popular Deals</a></li>
                            <li><a href="javascript:void(0)" routerLink="/gallary">Gallary</a></li>
                            <li><a href="javascript:void(0)" routerLink="/category">Category</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-auto">
                    <a routerLink="/enquiry" class="btn topBtn btn-primary">Enquire Now</a>
                </div>
            </div>
        </div>           
    </header>

    <router-outlet></router-outlet>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg mb-5 mb-lg-0">
                    <h5 class="mb-5 fs-6">Contact Us</h5>
                    <div class="flex-grow-1">
                        Customer Care<br>
                        <span class="fs-5 theme-text-primary">+(1) 123 456 7890</span>
                    </div>
                    <div class="flex-grow-1 mt-3">
                        Need live support?<br>
                        <a href="#" class="fs-5 theme-text-primary">info@umrahtravels.com</a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-2 mb-5 mb-lg-0">
                    <div class="d-flex">
                        <h5 class="mb-5 fs-6">Company</h5>
                    </div>
                    <div class="d-flex">
                        <ul class="fl-menu">
                            <li class="nav-item"><a href="javascript:void(0)">About Us</a></li>
                            <li class="nav-item"><a href="javascript:void(0)">Blog</a></li>
                            <li class="nav-item"><a href="javascript:void(0)">Offers</a></li>
                            <li class="nav-item"><a href="javascript:void(0)">Deals</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-2 mb-5 mb-lg-0">
                    <h5 class="mb-5 fs-6">Support</h5>
                    <div class="mt-5">
                        <ul class="fl-menu">
                            <li class="nav-item"><a href="javascript:void(0)">Contact</a></li>
                            <li class="nav-item"><a href="javascript:void(0)">Privacy Policy</a></li>
                            <li class="nav-item"><a href="javascript:void(0)">Terms and Conditions</a></li>
                            <li class="nav-item"><a href="javascript:void(0)" routerLink="/offices">Sitemap</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 mb-5 mb-lg-0">
                    <div class="d-flex justify-content-lg-center">
                        <h5 class="mb-5 fs-6">Other Services</h5>
                    </div>
                    <div class="d-flex justify-content-lg-center">
                        <ul class="fl-menu">
                            <li class="nav-item"><a href="javascript:void(0)">Bus</a></li>
                            <li class="nav-item"><a href="javascript:void(0)">Tour List</a></li>
                            <li class="nav-item"><a href="javascript:void(0)">Holidays</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-3 mt-lg-5">
                    <p class="pt-2 mb-0 small theme-text-accent-one">&copy; 2023. All rights reserved.
                    </p>
                </div>
                <div class="col-12 col-auto">
                    <div class="d-flex social justify-content-lg-end">
                        <a href="javascript:void(0)" class="fs-4 pe-3"><i class="bi bi-facebook"></i></a>
                        <a href="javascript:void(0)" class="fs-4 pe-3"><i class="bi bi-twitter"></i></a>
                        <a href="javascript:void(0)" class="fs-4 pe-3"><i class="bi bi-linkedin"></i></a>
                        <a href="javascript:void(0)" class="fs-4 pe-3"><i class="bi bi-instagram"></i></a>
                        <a href="javascript:void(0)" class="fs-4"><i class="bi bi-whatsapp"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Scroll To Top Start-->
        <a href="javascript:void(0)" class="scrollToTop"><i class="bi bi-chevron-double-up"></i></a>
    </footer>
</div>